<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LessonForm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Location</display-name>
    <servlet-name>Location</servlet-name>
    <servlet-class>com.lessonForm.location.Location</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Location</servlet-name>
    <url-pattern>/Location</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentInfo</display-name>
    <servlet-name>StudentInfo</servlet-name>
    <servlet-class>com.lessonForm.studentInfo.StudentInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentInfo</servlet-name>
    <url-pattern>/StudentInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveChangeData</display-name>
    <servlet-name>SaveChangeData</servlet-name>
    <servlet-class>com.lessonForm.studentInfo.SaveChangeData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveChangeData</servlet-name>
    <url-pattern>/SaveChangeData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>uploadPic</display-name>
    <servlet-name>uploadPic</servlet-name>
    <servlet-class>com.lessonForm.studentInfo.uploadPic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadPic</servlet-name>
    <url-pattern>/uploadPic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContentJson</display-name>
    <servlet-name>ContentJson</servlet-name>
    <servlet-class>com.lessonForm.json.ContentJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContentJson</servlet-name>
    <url-pattern>/ContentJson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>acceptWords</display-name>
    <servlet-name>acceptWords</servlet-name>
    <servlet-class>com.lessonForm.pictureMsg.acceptWords</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acceptWords</servlet-name>
    <url-pattern>/acceptWords</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>acceptPictures</display-name>
    <servlet-name>acceptPictures</servlet-name>
    <servlet-class>com.lessonForm.pictureMsg.acceptPictures</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acceptPictures</servlet-name>
    <url-pattern>/acceptPictures</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>saveFile</display-name>
    <servlet-name>saveFile</servlet-name>
    <servlet-class>com.lessonForm.file.saveFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveFile</servlet-name>
    <url-pattern>/saveFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileJson</display-name>
    <servlet-name>FileJson</servlet-name>
    <servlet-class>com.lessonForm.json.FileJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileJson</servlet-name>
    <url-pattern>/FileJson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>acceptFiles</display-name>
    <servlet-name>acceptFiles</servlet-name>
    <servlet-class>com.lessonForm.file.acceptFiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>acceptFiles</servlet-name>
    <url-pattern>/acceptFiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>saveChangeFile</display-name>
    <servlet-name>saveChangeFile</servlet-name>
    <servlet-class>com.lessonForm.file.saveChangeFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>saveChangeFile</servlet-name>
    <url-pattern>/saveChangeFile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dianzanJson</display-name>
    <servlet-name>dianzanJson</servlet-name>
    <servlet-class>com.lessonForm.json.dianzanJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dianzanJson</servlet-name>
    <url-pattern>/dianzanJson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDianzan</display-name>
    <servlet-name>AddDianzan</servlet-name>
    <servlet-class>com.lessonForm.dianzan.AddDianzan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDianzan</servlet-name>
    <url-pattern>/AddDianzan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Pinglun</display-name>
    <servlet-name>Pinglun</servlet-name>
    <servlet-class>com.lessonForm.pinglun.Pinglun</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Pinglun</servlet-name>
    <url-pattern>/Pinglun</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PinglunJson</display-name>
    <servlet-name>PinglunJson</servlet-name>
    <servlet-class>com.lessonForm.json.PinglunJson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PinglunJson</servlet-name>
    <url-pattern>/PinglunJson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLesson</display-name>
    <servlet-name>GetLesson</servlet-name>
    <servlet-class>com.lessonForm.lesson.GetLesson</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLesson</servlet-name>
    <url-pattern>/GetLesson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetsendMsg</display-name>
    <servlet-name>GetsendMsg</servlet-name>
    <servlet-class>com.lessonForm.discuss.GetsendMsg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetsendMsg</servlet-name>
    <url-pattern>/GetsendMsg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradeServlet</display-name>
    <servlet-name>GradeServlet</servlet-name>
    <servlet-class>com.lessonForm.lesson.GradeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradeServlet</servlet-name>
    <url-pattern>/GradeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Getliuyan</display-name>
    <servlet-name>Getliuyan</servlet-name>
    <servlet-class>com.lessonForm.discuss.Getliuyan</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Getliuyan</servlet-name>
    <url-pattern>/Getliuyan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>huifu</display-name>
    <servlet-name>huifu</servlet-name>
    <servlet-class>com.lessonForm.discuss.huifu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>huifu</servlet-name>
    <url-pattern>/huifu</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFuifu</display-name>
    <servlet-name>GetFuifu</servlet-name>
    <servlet-class>com.lessonForm.discuss.GetFuifu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFuifu</servlet-name>
    <url-pattern>/GetFuifu</url-pattern>
  </servlet-mapping>
</web-app>